
.parent1,
.parent2,
.parent3{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 10px;
    display: grid;
    gap: 10px;
}
.parent1{
    grid-template-columns: 2fr 1fr 1fr;
}
.parent2{
    grid-template-columns: 1fr 2fr 1fr;
}
.parent3{
    grid-template-columns: 1fr 1fr 2fr;
}
.boxes{
    height: 150px;
    padding: 20px;
    color: white;
}
.box11{
    background-color: rgb(253, 91, 105);
}
.box12{
    background-color: rgb(30, 52, 30);
}
.box13{
    background-color: violet;
}
.box21{
    background-color: skyblue;
}
.box22{
    background-color: lightgreen;
}
.box23{
    background-color: green;
}
.box31{
    background-color: yellow;
}
.box32{
    background-color: rgb(194, 164, 42);
}
.box33{
    background-color: red;
}
